@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  background-color: color(srgb red green blue) !important;
}

.error-message{
  color: red;
}

.custom-background {
  background-color: #1565c0;
}
